.Wrapper {
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem;
}

.RowWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ColWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
}


.TrackerWrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    place-content: center;
    gap: 3rem;
    margin-top: 2rem;
    width: 100%;
}

.TrackerCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1.6rem 0.4rem 2.4rem 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 10rem;
    cursor: pointer;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
}

.TrackerCard span {
    font-size: 2.4rem;
    font-weight: 700;
    color: #000;
}

.TrackerCard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ExpenseGraph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: #e6edfa38; */
    /* border-radius: 10px; */
    padding: 2rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: 97%;
    height: 50vh;
}

.GridWrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3.6rem;
}

.BroadColumn {
    grid-column: span 2 / span 2;
    width: 100%;
}

.NarrowColumn {
    grid-column: span 1 / span 1;
}

.ColumnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.BackgroundImage {
    position: absolute;
    top: 30%;
    right: -2.5%;
    width: 40%;
    height: 75%;
    z-index: 1;
    opacity: 0.9;
}

.OverviewMessage {
    font-size: 1.4rem;
    font-weight: 500;

}

.WelcomeBack {
    font-size: 3.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}