.PieChartWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.PieChart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.PieChartHeadingText{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #1a1a1a;
}